<div class="content">
  <div class="header">
    <p class="merchant">陈昌娣测试56商户</p>
    <div class="hr"></div>
    <p class="tooltip weixin">本次消费获得积分</p>
    <p class="credit">
      <span class="score">0</span>
      <span>分</span>
    </p>
    <button onclick="wx.closeWindow();" class="finish-btn weixin">完成</button>
    <div class="ads js-ads-container">
      <a class="ad-banner">
        <img src="https://images.wosaimg.com/ee/d9849b5397139e8680e6efd076003a624c1afa.jpeg">
        <img src="http://tracking.test.shouqianba.com/track_imp?uid=orMrkvlp4D4rcr8bjYnVZesH-PiY&amp;t=622e8140-52d7-4919-8002-5ddba8e8cb91&amp;c=jseJ2pNLoNC8aw_3Gsq4WPAQA7yAVoG_n1v1oYQDiRHeepBQs7K4LzNhc8BTHnv_FaxLY1U-AstHAUNzcsT6nbPae2v4fyq30FWYbMfW2OI_rOrEmWX5irboKbAXssO_S5tNMUzJGdATNOmWgmzv5mxdXIHmkJ7ByACXzXGp9eJuNwPGiButPxKbsNuw2v-ETRwm_UCHOQAsL8yN8XbnzwihU9CnmTEik2GE3p05kDIIP0kOUIiX6GFIiiWCEUAr2yxkIpTPZ5E05aMfv5AE9DcWD2ocrdFqRCMzvpVWr6_L2nKlyS54WwXe7CQFUUyNQocQA7r3Buh65Ov6kqjFu8GSGXB_0QZkNZL3O-KZdg3Wcp4Ie37utOsrgfHJ6OmZiAuGIJoxGRiJAQLWkJXvOSC8RBfJA065AZjjz7DOXBg28cu1ATi7P_fRp85eLwRu4o-S138HhDTfvx-UcK09C5PcLv7OphMDjFdmm8zkvPgnFTc_5ZLR17dc7mdLBGIw2Q=="
          style="width: 1px; height: 1px; display: none;">
      </a>
    </div>
  </div>
</div>
<div class="footer">
  <a href="/ads/qr-navigation.html">
    <img src="https://images.wosaimg.com/5e/e14081a213a46e02db7ac81ebacba58cfa744d.png">
  </a>
</div>